.item{
    width:320px;
    border: 1px solid black;
    border-radius: 5px;
}
.item p{
    margin: 6px 0px;
}
img{
    width: -webkit-fill-available;
    border-radius: 5px;
}
.item-prices{
    display:grid;
    gap:20px;
}
.item-new span{
    color: brown;
    font-size: 18px;
    font-weight:600;
    text-align: center;
}
.item:hover{
    transform:scale(1.05);
    transition:0.6s;
}