.productdisplay{
    display:flex;
    margin: 0px 100px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list img{
    height:163px;
    width:200px
}
.productdisplay-main-img{
    width: 680px;
    height: 700px;
}
.breadcrum{
    display:flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}
.breadcrum img{
    width: 10px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right-price{
    display: flex;
    margin: 40px 0px;
    gap:30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-price{
    color: #ff4141;
}
.productdisplay-right-size{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border:none;
    outline: none;
    cursor: pointer;
}
